<footer class="footer fixed-bottom">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-10">
        <a class="mail" href="mailto:grendmacars@gmail.com">
          <fa-icon class="mail-icon" [icon]="faEnvelope"></fa-icon>
          grendmacars@gmail.com
        </a>
        <span class="phone">
          <fa-icon [icon]="faMobile"></fa-icon>
          +389/73 222 558
        </span>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 brands-block">
      <a href="https://www.facebook.com/" target="_blank">
        <fa-icon [icon]="faFacebook"></fa-icon>
      </a>
      <a href="https://twitter.com/" target="_blank">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
    </div>
  </div>
</footer>

