<footer>
  <div class="row">
    <div class="col-8">
      <div class="col-6">
        <a class="mail" href="mailto:grendmacars@gmail.com">
          <fa-icon class="mail-icon" [icon]="faEnvelope"></fa-icon>
          grendmacars@gmail.com
        </a>
        <span class="phone">
          <fa-icon [icon]="faMobile"></fa-icon>
          +389/73 222 558
        </span>
      </div>
    </div>
    <div class="col-4">
      
      <fa-icon [icon]="faFacebook"></fa-icon>
      <fa-icon [icon]="faTwitter"></fa-icon>
      <fa-icon [icon]="faInstagram"></fa-icon>
    </div>
  </div>
</footer>

