footer{
  background-color: rgb(1, 1, 1,0.3);
  padding: 20px 40px;
  border-top: 1px solid rgb(253, 253, 253);
}
.mail{
  color:rgb(253, 253, 253);
  text-decoration: none;
  font-size: 11px;
  transition-property: font-size;
  transition-duration: 1s;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mail-icon{
  margin-right: 0.4px;
  font-size: 9px;
}
.mail:hover{
  font-size: 16px;
}
.phone{
  font-size: 10px;
  font-weight: 800;
  margin-left: 15px;
}
.brands-block > a{
  margin-left: 15px;
}
@media screen and (max-width: 520px){
  footer{
    padding: 10px 1px;
  }
  .mail:hover{
    font-size: 11px;
  }
  .phone{
    margin-left: 3px;
  }
}
