.motorcycle-image{
  height: 150px;
  border-bottom: 3px double rgb(135, 236, 249);
}
.motorcycle-title, .motorcycle-text{
  font-size: 16px;
  color: rgba(123, 140, 13,0.4);
  text-shadow: -1px -1px 1px rgba(245, 245, 245, 1);
}

