<div class="motorcycle" *ngIf="motorcycle">
  <app-card>
    <img [src]="photoUrl" class="card-img-top motorcycle-image" [alt]="motorcycle.type">
    <h5 class="card-title motorcycle-title">Type: {{motorcycle.type}}</h5>
    <p class="card-text motorcycle-text">Model: {{motorcycle.model}}</p>
    <button
        type="button" class="btn btn-outline-info btn-book" data-bs-toggle="tooltip"
        data-bs-placement="right">
          <fa-icon class="instructor-check-icon" [icon]="faMotorcycle"></fa-icon>
    </button>
  </app-card>
</div>
