<div class="motorcycle" *ngIf="motorcycle">
  <app-card>
    <img [src]="photoUrl" class="card-img-top vehicle-image" [alt]="motorcycle.type">
    <h5 class="card-title vehicle-title">Type: {{motorcycle.type}}</h5>
    <p class="card-text vehicle-text">Model: {{motorcycle.model}}</p>
    <div class="color-box">
      <app-color-box
        [colorText]="motorcycle.color">
      </app-color-box>
    </div>
    <button
        type="button" class="btn btn-outline-info btn-book" data-bs-toggle="tooltip"
        data-bs-placement="right">
          <fa-icon class="instructor-check-icon" [icon]="faMotorcycle"></fa-icon>
    </button>
  </app-card>
</div>
