.instructor-card-image{
  width: 100%;
}
.instructor-title, .instructor-text{
  font-size: 18px;
  color: rgb(0,0,0);
  text-shadow: -1px 1px rgb(103, 246, 253);
}
.instructor-card-list > li{
  background-color: rgb(3, 27, 54);
  color: rgb(255, 255, 255);
  font-size: 11px;
}
