.category-block{
  background-color: rgb(24, 90, 107);
  width: 55px;
  height: 60px;
  text-align: center;
  padding: 1px;
  transform: rotate(40deg);
  box-shadow: 0 0 10px 2px rgb(142, 232, 255);
  border-radius: 16px;
  animation-name: shining;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.category-block> h1{
  color: rgb(10, 10, 9);
  text-shadow: -1px 1px 3px rgb(255, 255, 255);
  transform: rotate(320deg);
  font-weight: bolder;
}
@keyframes shining {
  0%{
    box-shadow: 0 0 10px 2px rgba(142, 232, 255,1);
    transform: rotate(40deg);
  }
  25%{
    box-shadow: 5px 0 15px 1px rgba(138, 245, 155,0.5);
    transform: rotate(60deg);
  }
  50%{
    box-shadow: 0 0 0px 2px rgba(240, 252, 71,0);
    transform: rotate(20deg);
  }
  75%{
    box-shadow: 0 5px 20px 2px rgba(159, 215, 249,0.4);
    transform: rotate(40deg);
  }
  100%{
    box-shadow: 0 0 10px 2px rgba(142, 232, 255,1);
    transform: rotate(40deg);
  }
}
@media screen and (max-width: 470px){
  .category-block{
    margin-bottom: 20px;
  }
}
