
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ng-content select=".offcanvas-motorcycle-image"></ng-content>
    <ng-content select=".offcanvas-title-motor"></ng-content>
    <ng-content select=".motorcycle-subtitle"></ng-content>
    <br />
    <hr />
    <br />
    <ng-content select=".motorcycle-list-description"></ng-content>
  </div>
</div>
