.offcanvas{
  background-image:
     radial-gradient(closest-side at 65% 15%,rgb(12, 92, 134) 9%,rgb(50, 50, 50) 68%);
   background-size: 150px 100px;
}
.offcanvas-body{
  text-align: center;
  padding: 0 10px;
}
.text-reset{
  background-color: rgb(70, 84, 4);
  box-shadow: 0 0 8px 2px rgb(244, 245, 242)inset;
  border: 2px solid rgba(16, 16, 16, 1);
}
