.lesson{
  height: 450px;
}
.lesson-discount{
  padding: 1px 0;
}
@media screen and (max-width: 1300px){
  .lesson{
    height: 420px;
  }
}
@media screen and (max-width: 1155px){
  .lesson{
    height: 450px;
  }
}
@media screen and (max-width: 1050px){
  .lesson{
    height: 67vh;
  }
}
@media screen and (max-width: 900px) {
  .lesson{
    height: auto;
  }
}
