.lesson{
  height: 400px;
}
.bus-image{
  width: 100%;
  height: 400px;
  border-radius: 9px;
}
@media screen and (max-width: 1300px){
  .lesson{
    height: 420px;
  }
}
@media screen and (max-width: 1190px){
  .lesson{
    height: 500px;
  }
  .lesson > h5{
    margin-bottom: 1px;
  }
}
@media screen and (max-width: 900px) {
  .lesson{
    height: auto;
  }
}
@media screen and (max-width: 500px) {
  .bus-image{
    height: 200px;
  }
}
