<main class="home">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7">
      <img class="main-logo" src="../../../../assets/images/logos/car-icon.png" alt="logo"/>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 home-main-text-block">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, accusamus! Quos vel minus aperiam quibusdam, doloribus fugiat perferendis sapiente sed atque, hic enim temporibus corrupti ea doloremque natus consequatur eaque.</p>
      <br />
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus aperiam maiores quas facilis voluptatum reiciendis repudiandae repellat placeat nam corporis delectus dolorum assumenda eius vitae deserunt veniam, ea omnis et?</p>
      <hr />
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil architecto quos laudantium magnam deserunt similique maxime vel magni, doloribus earum nulla iste ducimus nostrum repudiandae. Similique dignissimos nostrum animi quasi?</p>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <div class="row main-caegory-even">
    <h4>Category: </h4>
    <app-category-a></app-category-a>
  </div>
  <br />
  <hr />
  <br />
  <div class="row">
    <h4>Category: </h4>
    <app-category-b></app-category-b>
  </div>
  <br />
  <hr />
  <br />
  <div class="row main-caegory-even">
    <h4>Category: </h4>
    <app-category-c></app-category-c>
  </div>
  <br />
  <hr />
  <br />
  <div class="row">
    <h4>Category: </h4>
    <app-category-d></app-category-d>
  </div>
</main>
<app-loading></app-loading>
