<div *ngIf="category" class="category-block">
  <div class="row">
    <div class="col-md-12 city-image-block">
      <img class="city-image" [src]="photoUrl" [alt]="category.city" />
    </div>
    <div class="row">
      <div class="col-md-2">
        <h3>{{category.city}}</h3>
      </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6 class="city-contact"><b>Visit Us: </b> <i>{{category.address}}</i></h6>
      </div>
      <div class="col-sm-12 col-md-6">
        <h6 class="city-contact">
          <b>Call Us: </b>
          <i>{{category.phone}}</i>
        </h6>
      </div>
    </div>
  </div>
</div>
