.lesson-block{
  padding: 1px 0;
}
.lesson-description,.licence-description{
  font-size: 12px;
}
.br-lesson-price{
  display: none;
}
@media screen and (max-width: 1300px) {
  .br-lesson-price{
    display: block;
  }
  .lesson-description,.licence-description,.lesson-duration,
  .lesson-virtual{
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  .br-lesson-price{
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .lesson-description,.licence-description{
    font-size: 9px;
  }
}
