.card{
  width: 250px;
  background-color: rgb(0,0,0);
  filter:drop-shadow(-30px 10px 10px  rgb(13, 13, 13));
}
@media screen and (max-width: 900px) {
  .card{
    width: 25vw;
  }
}
@media screen and (max-width: 575px) {
  .card{
    width: 90%;
  }
}
