.navbar{
  background: linear-gradient(159deg, rgba(0,0,0,1) 0%, rgba(29,72,80,1) 64%, rgba(123,226,246,1) 81%, rgba(4,89,107,1) 100%);
  color: rgba(123,226,246,1);
}
.navbar-toggler{
  outline: none;
  border: none;
}
.navbar-toggler-icon{
  border-radius:4px;
  background-color: rgb(55, 81, 4);
  border: none;
}
.nav-link{
  text-shadow: 2px -2px 1px rgb(171, 255, 3);
}
.dropdown{
  margin-left: 35px;
}
.navbar-nav > li > .dropdown-menu{
  background-color: rgba(16, 75, 23, 0.2);
}
.dropdown-menu> li > a{
  color: rgb(230, 173, 87);
  text-shadow: 0 0 1px rgb(143, 96, 2);
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 0.1rem;
}
 .dropdown-menu> li > a:hover{
  color: black;
}
@media screen and (max-width: 450px) {
  .dropdown{
    margin-left: 0;
  }
}
