<div class="widget-title">
  <div class="widget-title-header">
    <div class="widget-title-image-block">
      <ng-content select=".widget-title-image"></ng-content>
    </div>
    <div>
      <ng-content select=".widget-title-title"></ng-content>
    </div>
    <div>
      <ng-content select=".widget-title-subtitle"></ng-content>
    </div>
  </div>
  <br />
  <hr />
  <div class="widget-title-body">
    <div class="widget-title-body-description-block">
      <ng-content select="h6"></ng-content>
      <p [innerHTML]="descriptionHTMLText"></p>
    </div>
  </div>
</div>


