.lesson{
  height: 480px;
  padding-top: 50px;
}
.lesson-button-line{
  display: none;
}
@media screen and (max-width: 1300px) {
  .lesson{
    height: 480px;
  }
}
@media screen and (max-width: 1180px) {
  .lesson{
    height: auto;
  }
  .lesson-button-line{
    display: block;
  }
}
