<div class="row">
  <section class="col-md-8">
    <div *ngIf="categoryA$ | async as categoryA">
      <app-category-per-city
        [category]="categoryA"
        [photoUrl]="photoUrl"
      ></app-category-per-city>
    </div>
  </section>
  <aside class="col-md-4">
    <div class="row lesson">
      <div *ngIf="lesson$ | async as lesson">
        <app-lesson
          [lesson] = "lesson"
        ></app-lesson>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <button
          class="btn btn-outline-info"
          [disabled]="disable"
          (click)="getLessonByType(lessonType.Theory)">
            {{lessonType[lessonType.Theory]}}
        </button>
      </div>
      <div class="col-md-3">
        <button
          class="btn btn-outline-secondary"
          [disabled]="!disable"
          (click)="getLessonByType(lessonType.Practice)">
            {{lessonType[lessonType.Practice]}}
        </button>
      </div>
    </div>
  </aside>
</div>
<br />
<br />
<hr />
<br />
<div class="container">
  <div class="row">
    <section *ngFor="let instructor of (instructors$ | async)" class="col-md-4">
      <app-instructor
        [instructor]="instructor"
      ></app-instructor>
    </section>
  </div>

</div>
