.lesson{
  height: 300px;
}
@media screen and (max-width: 1300px){
  .lesson{
    height: 400px;
  }
}
@media screen and (max-width: 1050px){
  .lesson{
    height: 80vh;
  }
}
@media screen and (max-width: 768px){
  .lesson{
    height: 50vh;
  }
}
@media screen and (max-width: 576px){
  .lesson{
    height: 70vh;
  }
}
