.work-experience-list{
  padding: 0 20px;
}
.work-experience-list > li{
  font-size: 11px;
  letter-spacing: 2px;
  list-style:circle;
  color: rgb(126, 126, 127);
}
.work-experience-list > li h6{
  font-size: 14px;
  color: rgb(4, 11, 18);
  font-weight: bolder;
  text-transform:uppercase;
  text-shadow: 0 0 16px rgba(250, 249, 252,0.9);
}

